// HERO

.hero {
    background-color: $color-footer;
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: linear-gradient( 
    to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(/images/Imgheader.jpg);
}

.hero-section {
    width: auto;
    height: 600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

h1 {
    color: $text-color-white;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  
  .btn {
    color: $text-color-white;
    background-color: $accent-color;
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    margin-top: 30px;
    border: #000000;
  }

  